<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="name">
            <div class="block_1"></div>
            <div class="block_2">
                <div class="a1"></div>
                <div class="a2">выбор мототехники
                </div>
                <div class="a3">в продаже</div>
                <div class="a4">новости</div>
                <div class="a5">контакты</div>
                <div class="a6">
                    <div onclick="window.location.href='https://web.telegram.org/k/#-2640920461'" class="a7"></div>
                    <div onclick="window.location.href='https://xn----gtbbcgk3eei.xn--p1ai/deti'" class="a8"></div>
                    <div  onclick="window.location.href='https://vk.com/feed'" class="a9"></div>
                </div>
            </div>
            <div class="block_3"></div>
        </div>


        <div class="name2"><h1>Гидроциклы</h1></div>

<div class="name3">
    <h2 class="categories-grid">
        <div class="pup1">Все</div>
        <div class="pup2">Мотоциклы</div>
        <div class="pup3">Скутеры</div>
        <div class="pup4">Квадроциклы</div>
        <div class="pup5">Снегоходы</div>
        <div class="pup6">гидроциклы</div>
        <div class="pup7">Трициклы</div>
        <div class="pup8">багги</div>
    </h2>
</div>

        <div class="moto_logo">
            <div class="logo1"></div>
            <div class="logo2"></div>
            <div class="logo3"></div>
            <div class="logo4"></div>
            <div class="logo5"></div>
            <div class="logo6"></div>
            <div class="logo7"></div>
        </div>


        <div class="moto">
            <div class="c1">
                <div class="b1">
                    <div class="d1"></div>
                    <div class="d2"><h2>KAWASAKI STX 160</h2><div class="color">999 см³, 165 л.с.</div></div>
                </div>
                <div class="b2">
                    <div class="d3"></div>
                    <div class="d4"><h2>KAWASAKI ULTRA310-LX S</h2><div class="color">999 см³, 210 л.с.</div></div>
                </div>
                <div class="b3">
                    <div class="d5"></div>
                    <div class="d6"><h2>KAWASAKI ULTRA 310LX</h2><div class="color">1254 см³, 136 л.с.</div></div>
                </div>
                <div class="b4">
                    <div class="d7"></div>
                    <div class="d8"><h2>KAWASAKI ULTRA 310X</h2><div class="color">1800 см³, 91 л.с.</div></div>
                </div>


            </div>
        </div>


        <div class="help">
        <div class="w1"></div>
        <div class="w2"><h3>Новые модели</h3></div>
        <div class="w3"><h3>С пробегом</h3></div>
        <div class="w4"><h3>Вопрос-ответ</h3></div>
        <div class="w5"><h3>Новости</h3></div>
        <div class="w6"><h3>Вакансии</h3></div>
    </div>


    <div class="help2">
        <div class="w7"><h3>Каталог мототехники</h3>
                           <h4> Мотоциклы<br>
                            Скутеры<br>
                            Трициклы<br>
                            Квадроциклы<br>
                            Багги<br>
                            Снегоходы<br>
                            Гидроциклы<br></h4></div>
        <div class="w8"><h3>Популярные бренды</h3>
                        <h4>Honda <br>
                        BMW <br>
                        CFMOTO <br>
                        BRP <br>
                        Yamaha <br>
                        Kawasaki <br>
                        KTM <br>
                        Suzuki <br>
                        Vespa</h4></div>
        <div class="w9"><h3>Покупателям</h3>
                        <h4>Доставка<br>
                        Новая бонусная программа<br>
                        Страхование<br>
                        Мотоциклы в Major Finance</h4></div>
        <div class="w10"><h3>Информация</h3>
                        <h4>О Компании
                            Новости
                            Спецпредложения
                            Карта сайта
                            Вакансии</h4></div>
        <div class="w11"><h3></h3></div>
    </div>


    
<div class="end"><h5>Данный сайт носит информационно-справочный характер и ни при каких условиях не является публичной офертой<br>
© 2025 Major-moto.ru - продажа мотоциклов, квадроциклов и другой мототехники в Москве<br>
ООО «М Адвайс» ИНН 5024154432 ОГРН 1155024003617</h5></div>



</body>
</html>